{% extends 'base.html' %}

{% block title %} Flask CRUD {% endblock %}

{% block body %}  

<div class="jumbotron p-3">
    <div class="well text-center">
        <h1>Python Flask CRUD Web Application Development</h1>
        <div class="child child3">
            <ul class="nav nav-tabs nav-fill" style="background-color:rgb(25,135,84);">
                <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="{{url_for('change')}}">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:whitesmoke;" href="{{url_for('Index')}}">Activity</a>
                </li>
            </ul>
        </div>


    </div>


</div>

{% endblock %}